 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18283f;
    color: #333;
}
 
header {
    background: #0f172a;  
    padding: 15px 8%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 45px;
    width: auto;
    border-radius: 50%; 
}

.logo h2 {
    color: #858c8f;  
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #8e9097;
    font-weight: 400;
    transition: 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    color: #38bdf8;
}

 
.hero-kpr {
     
    background-image: url("Rental-bg.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 80px 20px;
    text-align: center;
    color: #050a0e;
}

.hero-content h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    opacity: 0.9;
}

/* តុបតែងប្រអប់ស្វែងរក (Search Box) */
.search-box {
    background: #a19898;
    padding: 6px;
    border-radius: 30px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 15px , cornsilk;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
}

.search-box button {
    background: #0f172a;
    color: rgb(191, 204, 201);
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: white;
}
 
.why-choose {
    text-align: center;
    padding: 60px 20px;
}

.why-choose h2 {
    font-size: 2rem;
    color: #929397;
    margin-bottom: 10px;
}

.why-choose p {
    color: #8d9eb1;
}